<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Agregar Personas</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Cedula:</label>
            <input [(ngModel)]="persona.cedula" name="cedula" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="">Nombre:</label>
            <input [(ngModel)]="persona.nombre" name="nombre" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="">Fecha Nacimiento:</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="persona.fecha_nacimiento"
                ngbDatepicker
                #d="ngbDatepicker"
                [positionTarget]="buttonEl"
              />
              <button #buttonEl class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
         </div>

          <div class="form-group">
            <label for="">Direccion:</label>
            <input [(ngModel)]="persona.direccion" name="direccion" type="text" class="form-control">
          </div>
          
          <div class="form-group">
            <label for="">Telefono:</label>
            <input [(ngModel)]="persona.telefono" name="telefono" type="text" class="form-control">
          </div>
          
          <button (click)="Guardar()" class="btn btn-success pt-2">Guardar</button>
        </form>
      </div>
    </div>
  </div>